/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
  Authored by Scott Liu
*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.heading {
  text-align: left;
  border-bottom: 5px solid black;
  margin: auto;
  padding: 25px;
  width: 103%;
  border-width: 100%;
  margin-left: -10px;
  padding-left: 180px;
}

.content {
  padding-left: 180px;
}